{% extends 'base.html.twig' %}  
{% block contenido %}
<div class="center" >
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<div style="margin:20% auto; max-width:1800px;">
		
          
       
	</div>
</div>
<style type="text/css">
body{
background: url("../public/img/FondoM.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: flex;
min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }

</style>
    
    <br>
<br>
<br><br>
<br>

            
{% endblock %}